body {
    font-family: Arial, sans-serif;
    background-color: #efb18b;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #ef8b60;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    color: #ef8b60;
    background-color: white;
}

h3 {
    color: white;
    font-size: 30px;
}